<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Ops!</title>
</head>   
<body>
    <aside class="sidebar">
            <h2 class="logo">Homero</h2>

            <nav>
                <a href="/">📚 Alunos</a>
                <a href="/financeiro">💰 Financeiro</a>
            </nav>
        </aside>
    <main class="content">
        <div class="container">
            <div class="card">
                <h1>404</h1>
                <h2>A página que você procura não foi encontrada!</h2>
                <a href="/">
                    <button class="btn-back">Voltar</button>
                </a>
            </div>
        </div>
    </main>
</body> 
</html>