<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Homero — Ops!</title>
</head>   
<body>
    <aside class="sidebar">
            <h2 class="logo">Homero</h2>

            <nav>
                <a href="/">📚 Alunos</a>
                <a href="/financeiro">💰 Financeiro</a>
                <a href="/contas_pagar">💸 Contas a Pagar</a>
                <a href="/contas_receber">💵 Contas a Receber</a>
                <a href="/fornecedores">🏢 Fornecedores</a>
                <a href="/plano_contas">📓 Plano de Contas</a>
                <a href="/contas_bancarias">🏦 Contas Bancárias</a>
                <a href="/extrato">🧾 Extrato</a>
                
                <br><br>
                <p class="usuario-logado">👤 {{ usuario_nome }}</p>
                <a href="{{ url_for('logout') }}" class="logout-btn">Sair</a>
            </nav>
        </aside>
    <main class="content">
        <div class="container">
            <div class="card">
                <h1>404</h1>
                <h2>A página que você procura não foi encontrada!</h2>
                <a href="/">
                    <button class="btn-back">Voltar</button>
                </a>
            </div>
        </div>
    </main>
</body> 
</html>