<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Homero — Contas a Pagar</title>
</head>
<body>
    <div class="layout">

        <aside class="sidebar">
            <h2 class="logo">Homero</h2>

            <nav>
                <a href="/">📚 Alunos</a>
                <a href="/financeiro">💰 Financeiro</a>
                <a href="/contas_pagar" class="active">💸 Contas a Pagar</a>
                <a href="/contas_receber">💵 Contas a Receber</a>
                <a href="/fornecedores">🏢 Fornecedores</a>
                <a href="/plano_contas">📓 Plano de Contas</a>
                <a href="/contas_bancarias">🏦 Contas Bancárias</a>
                <a href="/extrato">🧾 Extrato</a>
                
                <br><br>
                <p class="usuario-logado">👤 {{ usuario_nome }}</p>
                <a href="{{ url_for('auth.logout') }}" class="logout-btn">Sair</a>
            </nav>
        </aside>
        
        <main class="content">
            <div class="header">
            <h1>💸 Contas a Pagar</h1>
            </div>
            
            <div class="container">
                    <!-- Dashboard do financeiro-->
                    <section class="form-section card">
                        <h2>💰 Resumo Financeiro</h2>
                        <div>
                            <h3>📊 Fluxo Financeiro</h3>
                            <canvas id="graficoFinanceiro"></canvas>
                        </div>
                    </section>

                    <section class="card">
                        <h2>Ações</h2>
                        <div class="form-actions" style="justify-content: flex-start;">
                            <button class="btn-pagar" onclick="abrirModalNova()">✚ Nova Conta</button>
                            <a href="{{ url_for('contas_pagar.listar_grupos_contas_pagar') }}" class="btn-edit">
                                🧩 Editar Grupos de Contas
                            </a>
                        </div>
                    </section>
                
                    <section class="list-section">
                        <div class="card">
                            <h2>Despesas</h2>

                            <table>
                                <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th>Plano de Contas</th>
                                    <th>Fornecedor</th>
                                    <th>Valor</th>
                                    <th>Vencimento</th>
                                    <th>Status</th>
                                    <th>Dias de Atraso</th>
                                    <th>Ações</th>
                                </tr>
                                </thead>
                                
                                <tbody>
                                {% for c in contas %}
                                <tr class="
                                {% if c[4] == 'Vencido' %}linha-vencida
                                {% elif c[4] == 'Pendente'%}linha-pendente
                                {% else %}linha-paga
                                {% endif %}
                                ">
                                    <td>{{ c[1] }}</td>
                                    <td>{{ c[5] }}</td>
                                    <td>{{ c[6] }}</td>
                                    <td>R$ {{ "%.2f"|format(c[2]) }}</td>
                                    <td>{{ c[3]|replace("-", "/") }}</td>
                                    <td>{{ c[4] }}</td>
                                    <td>{% if c[7] > 0 %}
                                            {{ c[7] }} dias
                                        {% else %}
                                            —
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if c[4] != 'Pago' %}
                                        
                                        <button
                                            type="button"
                                            class="btn-edit"
                                            data-id="{{ c[0] }}"
                                            data-descricao="{{ c[1] }}"
                                            data-valor="{{ c[2] }}"
                                            data-data="{{ c[3] }}"
                                            data-plano-id="{{ c[8] }}"
                                            data-fornecedor-id="{{ c[9] }}"
                                            onclick="abrirModalEditarContaPagar(this)"
                                        >
                                            ✏️
                                        </button>

                                        <button
                                            class="btn-pagar"
                                            data-id="{{ c[0] }}"
                                            data-descricao="{{ c[1] }}"
                                            data-valor="{{ c[2] }}"
                                            data-data="{{ c[3] }}"
                                            onclick="abrirModal(this)"
                                        >
                                            💳
                                        </button>
                                        <form action="{{ url_for('contas_pagar.remover_conta', id=c[0]) }}" method="POST" style="display:inline">
                                            <button type="submit" class="btn-delete" onclick="return confirm('Tem certeza que deseja excluir esta conta?')">🗑️</button>
                                        </form>
                                        
                                        {% else %}

                                        <span style="opacity: 0.6;">✔️ Pago</span>

                                        {% endif %}

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </section>
                </div>

            <!-- Modal de Nova Conta a Pagar -->
             <div id="modalNovaConta" class="modal">
                <div class="modal-content">
                    <h3>Nova Conta a Pagar</h3>

                    <form method="POST" action="{{ url_for('contas_pagar.nova_conta') }}">
                        
                        <div class="form-grid">
                        
                            <div class="form-field">
                                <label>Descrição</label>
                                <input type="text" name="descricao" placeholder="Ex: Conta de Energia mar/2026" required>
                            </div>

                            <div class="form-field">
                                <label>Plano de Contas</label>
                                <select name="plano_conta_id" required>
                                    {% for p in planos %}
                                    <option value="{{ p[0] }}">{{ p[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-field">
                                <label>Fornecedor</label>
                                <select name="fornecedor_id" required>
                                    {% for f in fornecedores %}
                                    <option value="{{ f[0] }}">{{ f[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-field">
                                <label>Valor</label>
                                <input type="number" step="0.01" name="valor" min="0.01" required>
                            </div>

                            <div class="form-field">
                                <label>Data de vencimento</label>
                                <input type="date" name="data_vencimento" value="{{ today }}" required>
                            </div>

                            <div class="form-field">
                                <label>Parcelas</label>
                                <input type="number" name="parcelas" min="1" value="1">
                            </div>
                        </div>

                        <button class="btn-pagar" type="submit">➕ Criar Conta</button>
                        <button class="btn-editar" type="button" onclick="fecharModalNova()">Cancelar</button>
                    </form>
                </div>
             </div>

            <!-- Modal de Edição de Conta a Pagar -->
             <div id="modalEditarContaPagar" class="modal">
                <div class="modal-content">
                    <h3>Atualizar Conta a Pagar</h3>

                    <form id="formEditarContaPagar" method="POST">
                        <div class="form-grid">
                            <div class="form-field" style="grid-column: 1 / -1;">
                                <label>Descrição</label>
                                <input type="text" name="descricao" id="editarContaPagarDescricao" required>
                            </div>

                            <div class="form-field">
                                <label>ID da Conta</label>
                                <input type="text" id="editarContaPagarId" readonly>
                            </div>

                            <div class="form-field">
                                <label>Data de vencimento</label>
                                <input type="date" name="data_vencimento" id="editarContaPagarData" required>
                            </div>

                            <div class="form-field">
                                <label>Valor</label>
                                <input type="number" name="valor" id="editarContaPagarValor" step="0.01" min="0.01" required>
                            </div>

                            <div class="form-field">
                                <label>Plano de Contas</label>
                                <select name="plano_conta_id" id="editarContaPagarPlano" required>
                                    {% for p in planos %}
                                        <option value="{{ p[0] }}">{{ p[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-field">
                                <label>Fornecedor</label>
                                <select name="fornecedor_id" id="editarContaPagarFornecedor" required>
                                    {% for f in fornecedores %}
                                        <option value="{{ f[0] }}">{{ f[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="modal-actions">
                            <button type="submit" class="btn-pagar">Salvar</button>
                            <button type="button" class="btn-editar" onclick="fecharModalEditarContaPagar()">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Modal de Pagamento --> 
            <div id="modalPagamento" class="modal">
                <div class="modal-content">

                    <h3>Registrar Pagamento</h3>

                    <form id="formPagamento" method="POST">
                        <div class="form-grid">
                            <div class="row" style="grid-column: 1 / -1;">
                                <div class="col-2">
                                    <div class="form-field">
                                        <label>ID</label>
                                        <input class="input-disabled" type="text" id="pagamentoId" name="id" readonly>
                                    </div>
                                    
                                </div>
                                <div class="col-10">
                                    <div class="form-field">
                                        <label>Descrição</label>
                                        <input type="text" name="descricao" id="pagamentoDescricao">
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="form-field">
                                <label>Data de vencimento</label>
                                <input class="input-disabled" type="text" id="pagamentoDataVencimento" name="data_vencimento" readonly>
                            </div>

                            <div class="form-field">
                                <label>Valor Original</label>
                                <input class="input-disabled" type="text" id="pagamentoValor" name="valor_original" readonly>
                            </div>

                            <div class="form-field">
                                <label>Data do pagamento</label>
                                <input type="date" name="data_pagamento" required>
                            </div>

                            <div class="form-field">
                                <label>Valor Pago</label>
                                <input type="number" step="0.01" name="valor_pago" placeholder="Valor pago (opcional)">
                            </div>
                            
                            <div class="form-field">
                                <label>Método de pagamento</label>
                                <select name="metodo_pagamento" required>
                                    <option value="pix">Pix</option>
                                    <option value="Dinheiro">Dinheiro</option>
                                    <option value="Cartão">Cartão</option>
                                    <option value="Boleto">Boleto</option>
                                </select>
                            </div>

                            <div class="form-field">
                            <label>Conta Bancária</label>
                                <select name="conta_bancaria_id" required>
                                    <option value="">Selecione uma conta</option>
                                    {% for conta in contas_banco %}
                                    <option value="{{ conta[0] }}">{{ conta[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="modal-actions">
                            <button class="btn-primary" type="submit">Confirmar Pagamento</button>
                            <button class="btn-secondary" type="button" onclick="fecharModal()">Cancelar</button>
                        </div>
                    </form>
                        
                </div>
            </div>

            <!-- JavaScript para fazer o Modal de Pagamento funcionar -->
            <script>
            
            function abrirModal(botao) {

                const modal = document.getElementById("modalPagamento")
                const form = document.getElementById("formPagamento")
            
                const id = botao.dataset.id
                const descricao = botao.dataset.descricao
                const valor = botao.dataset.valor
                const data = botao.dataset.data

                form.action = "{{ url_for('contas_pagar.registrar_conta', id=0) }}".replace("0", id);

                document.getElementById("pagamentoId").value = id
                document.getElementById("pagamentoDescricao").value = descricao
                document.getElementById("pagamentoValor").value = Number(valor).toFixed(2)
                document.getElementById("pagamentoDataVencimento").value = data

                modal.style.display = "flex"
            }

            function fecharModal() {
                document.getElementById("modalPagamento").style.display = "none"
            }

            function abrirModalNova() {
                document.getElementById("modalNovaConta").style.display = "flex"
            }

            function fecharModalNova() {
                document.getElementById("modalNovaConta").style.display = "none"
            }

            function abrirModalEditarContaPagar(botao) {
                const modal = document.getElementById("modalEditarContaPagar")
                const form = document.getElementById("formEditarContaPagar")

                const id = botao.dataset.id
                const descricao = botao.dataset.descricao
                const valor = botao.dataset.valor
                const data = botao.dataset.data
                const planoId = botao.dataset.planoId
                const fornecedorId = botao.dataset.fornecedorId

                form.action = "{{ url_for('contas_pagar.atualizar_conta_pagar', id=0) }}".replace("0", id);

                document.getElementById("editarContaPagarId").value = id
                document.getElementById("editarContaPagarDescricao").value = descricao
                document.getElementById("editarContaPagarValor").value = Number(valor).toFixed(2)
                document.getElementById("editarContaPagarData").value = data
                document.getElementById("editarContaPagarPlano").value = planoId
                document.getElementById("editarContaPagarFornecedor").value = fornecedorId

                modal.style.display = "flex"
            }

            function fecharModalEditarContaPagar() {
                document.getElementById("modalEditarContaPagar").style.display = "none"
            }

            </script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                const ctx = document.getElementById('graficoFinanceiro').getContext('2d');

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Receita', 'Despesa', 'Saldo'],
                        datasets: [{
                            label: 'Financeiro',
                            data: [
                                {{ receita_prevista|default(0) }},
                                {{ despesa_prevista|default(0) }},
                                {{ saldo_projetado|default(0) }}
                            ],
                            backgroundColor: [
                                '#4CAF50',
                                '#F44336',
                                '#2196F3'
                            ]
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                display: false
                            }
                        }
                    }
                });
            </script>
        </main>
    </div>
</body>
</html>