<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Financeiro</title>
</head>
<body>
    <div class="layout">

        <aside class="sidebar">
            <h2 class="logo">Homero</h2>

            <nav>
                <a href="/">📚 Alunos</a>
                <a href="/financeiro">💰 Financeiro</a>
            </nav>
        </aside>
        
        <main class="content">
            <div class="header">
            <h1>💰 Financeiro</h1>
            </div>
            
            <div class="container">
                    <section class="form-section card">
                        <h2>Resumo</h2>

                        <p>Pendentes: {{ pendentes }}</p>
                        <p>Pagas: {{ pagos }}</p>
                        <p>Total: {{ total }}</p>
                    </section>

                    <section class="card">
                        <h2>Ações</h2>
                        <button class="btn-pagar" onclick="abrirModalNova()">✚ Nova Mensalidade</button>
                    </section>
                
                    <section class="list-section">
                        <div class="card">
                            <h2>Mensalidades</h2>

                            <table>
                                <thead>
                                <tr>
                                    <th>Aluno</th>
                                    <th>Valor</th>
                                    <th>Vencimento</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                                </thead>
                                
                                <tbody>
                                {% for m in mensalidades %}
                                <tr>
                                    <td>{{ m[1] }}</td>
                                    <td>{{ m[2] }}</td>
                                    <td>{{ m[3] }}</td>
                                    <td>{{ m[4] }}</td>
                                    <td>
                                        <button class="btn-pagar" onclick="abrirModal({{ m[0] }})">Registrar Pagamento</button>
                                        <form action="/mensalidade/remover/{{ m[0] }}" method="POST" style="display:inline">
                                            <button class="btn-delete" onclick="return confirm('Tem certeza que deseja excluir esta mensalidade?')">🗑️</button>
                                        </form>     
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </section>
                </div>

            <!-- Modal de Nova Mensalidade -->
             <div id="modalNovaMensalidade" class="modal">
                <div class="modal-content">
                    <h3>Nova Mensalidade</h3>

                    <form method="POST" action="/mensalidade/nova">

                        <label>Aluno</label>
                        <select name="aluno_id" required>
                            <option value="">Selecione um aluno</option>
                            {% for aluno in alunos %}
                                <option value="{{ aluno[0] }}">
                                    {{ aluno[1] }}
                                </option>
                            {% endfor %}
                        </select>
                        <br><br>

                        <label>Valor</label>
                        <input type="number" step="0.01" name="valor" required>

                        <label>Data de vencimento</label>
                        <input type="date" name="data_vencimento" required>

                        <label>Parcelas</label>
                        <input type="number" name="parcelas" min="1" value="1">

                        <br><br>

                        <button class="btn-pagar" type="submit">Criar Mensalidades</button>
                        <button class="btn-editar" type="button" onclick="fecharModalNova()">Cancelar</button>
                    </form>
                </div>
             </div>

            <!-- Modal de Pagamento --> 
            <div id="modalPagamento" class="modal">
                <div class="modal-content">

                    <h3>Registrar Pagamento</h3>

                    <form id="formPagamento" method="POST">

                        <label>Data do pagamento</label>
                        <input type="date" name="data_pagamento" required>

                        <label>Método de pagamento</label>
                        <select name="metodo_pagamento" required>
                            <option value="pix">Pix</option>
                            <option value="Dinheiro">Dinheiro</option>
                            <option value="Cartão">Cartão</option>
                            <option value="Boleto">Boleto</option>
                        </select>

                            <br><br>

                            <button type="submit">Confirmar Pagamento</button>
                            <button type="button" onclick="fecharModal()">Cancelar</button>
                    </form>
                        
                </div>
            </div>

            <!-- JavaScript para fazer o Modal de Pagamento funcionar -->
            <script>
            
            function abrirModal(id) {

                const modal = document.getElementById("modalPagamento")
                const form = document.getElementById("formPagamento")
            
                form.action = "/pagar/"+ id

                modal.style.display = "flex"
            }

            function fecharModal() {
                document.getElementById("modalPagamento").style.display = "none"
            }

            function abrirModalNova() {
                document.getElementById("modalNovaMensalidade").style.display = "flex"
            }

            function fecharModalNova() {
                document.getElementById("modalNovaMensalidade").style.display = "none"
            }
            </script>
        </main>
    </div>
</body>
</html>